html body {
    height: 100%;
}

body {
    position: relative;
}

.navBar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10%;
    background-color: black;
    z-index: 1;
}

.header {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(./resources/nebula.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.header h1 {
    position: fixed;
    top: 15%;
    left: 78%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    text-shadow: 4px 4px 2px purple, 5px 5px 2px cyan, 7px 7px 2px #ff5d0c;
    color: yellow;
    font-family: 'Exo', sans-serif;
}

.holdStuff {
    position: relative;
    width: 100vw;
    /*height: 100vh;*/
    height: auto;
    background-color: #338093;
}

.title {
    position: relative;
    /*top: 10%;
    left: 50%;*/
    text-align: center;
    font-size: 3em;
    font-family: 'Exo', sans-serif;
    /*transform: translate(-50%, -50%);*/
    color: white;
    text-shadow: 2px 2px 1px black;
}

.words {
    color: black;
    font-family: 'Exo', sans-serif;
    /*text-shadow: 2px 2px 1px white;*/
    padding-bottom: 5%;
}

.einstein {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(./resources/einstein.jpg);
    background-size: cover;
    background-attachment: fixed;
}
